<% provide(:title, "Inicio") %>
<div class="jumbotron">
	<div class="container">
   <h1 class="display-4">Box2Share</h1>
   <p class="lead"><%= t('pages.home.jumbotron.lead') %></p>
   <hr class="my-4">
   <p class="lead text-center">
     <a class="btn btn-primary btn-lg" href="#" role="button"><%= t('pages.home.jumbotron.getstarted') %></a>
   </p>
 </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-5 offset-4">
      <div id="card-errors" class="alert-danger alert d-none" role="alert"></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos de pago</h5>
          <hr>
          <%= form_tag(".", id: "payment-form") do %>
          <div class="form-group">
            <%= label_tag(:card_name, "Nombre completo (en la tarjeta)") %>
            <%= text_field_tag(:card_name, nil, placeholder: "", class: "form-control") %>
          </div>
          <div class="form-group">
            <%= content_tag(:div, nil , class: "form-control", id: "card-element") %>
          </div>
          <div class="form-group">
            <%= submit_tag("Adquirir suscripción", class: "btn btn-block btn-primary", id: "payment-submit", data: { disable_with: false }) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
