<% provide(:title, "Compartir archivo") %>

<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item"><%= link_to "Mis archivos", files_path %></li>
              <li class="breadcrumb-item active" aria-current="page">Compartir archivo</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-lg-6 col-xl-7 mx-auto">
          <div class="card">
            <div class="card-header">
              Compartir el archivo: <%= @shared_asset.asset.uploaded_file.filename %>
            </div>
            <div class="card-body">
              <%= form_for @shared_asset do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <div class="form-group">
                  <%= f.label :shared_email, "Ingrese la dirección de correo electrónico del destinario" %>
                  <%= f.text_field :shared_email, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :message, "Mensaje (opcional)" %>
                  <%= f.text_area :message, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Comparte", class: "btn btn-block btn-primary" %>
                </div>
                <%= f.hidden_field :asset_id %>
              <% end %>
            </div>
          </div>
      </div>

    </div>

  </div>

</div>


