<p>Hola,</p>

<p><%= @shared_asset.user.full_name %> ha compartido un archivo con usted:</p>

<p><%= @shared_asset.asset.uploaded_file.filename %> en Box2Share</p>

<p>Usa la siguiente URL para acceder al archivo:</p>

<p>
  <%= link_to "Acceder al archivo", shared_asset_url(@shared_asset.shared_asset_token) %>
</p>

<% unless @shared_asset.message.blank? %>
  <p><%= @shared_asset.user.name %> ha dicho:</p>
  <p><%= @shared_asset.message %></p>
<% end %>

<p>El equipo de Box2Share</p>
