<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item"><%= link_to "Mis archivos", files_path %></li>
              <li class="breadcrumb-item active" aria-current="page">Renombrar carpeta</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-6 ml-auto mr-auto">
          <div class="card">
            <div class="card-body">
              <%= form_for @folder do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <div class="form-group">
                  <%= f.label :name, "Nombre de la carpeta" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
                <%= f.hidden_field :parent_id %>
                <div class="form-group">
                  <%= f.submit "Renombrar carpeta", class: "btn btn-block btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
          <%= render 'back_link' %>
        </div>
      </div>
      <br>
    </div>
    <br>
    <%= render 'shared/panel_footer' %>

  </div>

</div>
