<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item"><%= link_to "Mis archivos", panel_files_path %></li>
              <li class="breadcrumb-item active" aria-current="page">Detalles de carpeta</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-6 ml-auto mr-auto">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center text-center">
                    <div>
                      <span>No hay vista previa para esta carpeta.</span>
                    </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      Detalles de la carpeta
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled"
                        <li class="mt-2 mb-2">
                          <span class="h6">Dueño:</span>
                          <span class="float-right"><%= @folder.user.full_name %></span>
                        </li>
                        <li class="mt-2 mb-2">
                          <span class="h6">Fecha de subida:</span>
                          <span class="float-right"><%= @folder.created_at.to_date %></span>
                        </li>
                        <li class="mt-2 mb-2">
                          <span class="h6">Ultima modificación:</span>
                          <span class="float-right"><%= @folder.updated_at.to_date %></span>
                        </li>
                        <li class="mt-2 mb-2">
                          <span class="h6">Tamaño:</span>
                          <span class="float-right">-</span>
                        </li>
                        <li class="mt-2 mb-2">
                          <span class="h6">Tipo:</span>
                          <span class="float-right">Carpeta</span>
                        </li>
                        <li class="mt-2 mb-2">
                          <span class="h6">Número de archivos:</span>
                          <span class="float-right"><%= @folder.files_and_subfolders_count %></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if @folder.parent %>
            <%= link_to browse_path(@folder.parent), class: "btn btn-light mt-2" do %>
              <i class="fas fa-arrow-left"></i> Atrás
            <% end %>
          <% else %>
            <%= link_to panel_files_path, class: "btn btn-light mt-2" do %>
              <i class="fas fa-arrow-left"></i> Atrás
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
    </div>
    <br>
    <%= render 'shared/panel_footer' %>

  </div>

</div>
