<div class="col-4 mx-auto">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"><%= monthly_paid_plan.name %></h4>
    </div>
    <div class="card-body">
      <%= image_tag("#{monthly_paid_plan.name.downcase}.png", alt: "#{monthly_paid_plan.name}_icon") %>
      <h1 class="card-title pricing-card-title">
        <%= humanized_money(monthly_paid_plan.price) %> &euro;<small class="text-muted">/ mes</small>
      </h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><%= monthly_paid_plan.space_allowed %> GB de almacenamiento</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
      </ul>
      <%= form_tag(subscription_path, method: :patch) do %>
        <%= hidden_field_tag(:new_plan_id, monthly_paid_plan.id) %>
        <%= submit_tag("Cambiar", class: "btn btn-lg btn-block btn-outline-primary") %>
      <% end %>
    </div>
  </div>
</div>
