<div class="container p-5">
  <div class="row">
    <div class="col-4 ml-auto mr-auto">
      <div class="card-deck mb-3 text-center">
      <% if @paid_plan.month? %>
        <%= render partial: 'plans/monthly_paid_plan', object: @paid_plan %>
      <% else %>
        <%= render partial: 'plans/yearly_paid_plan', object: @paid_plan %>
      <% end %>
      </div>
    </div>
    <div class="col-6 ml-auto mr-auto">
      <div id="card-errors" class="alert-danger alert d-none" role="alert"></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos de pago</h5>
          <hr>
          <%= form_tag(payments_path, id: "payment-form") do %>
          <%= hidden_field_tag(:purchase_amounts_cents, @paid_plan.price_cents) %>
          <%= hidden_field_tag(:plan_id, @paid_plan.id) %>
          <div class="form-group">
            <%= text_field_tag(:card_name, nil, placeholder: "Nombre completo (en la tarjeta)", class: "form-control") %>
          </div>
          <div class="form-group">
            <%= content_tag(:div, nil , class: "form-control", id: "card-element") %>
          </div>
          <div class="form-group">
            <%= submit_tag("Adquirir suscripción", class: "btn btn-block btn-primary", id: "payment-submit", data: { disable_with: false }) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
