<p>El pago de tu suscripci칩n al plan <%= @subscription.name %> para el peri칩do <%= l @subscription.start_date, format: :default %> - <%= l @subscription.end_date, format: :default %> se ha realizado correctamente</p>

<p>El pr칩ximo pago se realizar치 el <%= l @subscription.end_date, format: :default %></p>

<p>Para acceder a la factura asociada a este pago accede al siguiente link:</p>

<p><%= @invoice.hosted_invoice_url %></p>
