<% provide(:title, "Detalles del archivo") %>

<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item"><%= link_to "Mis archivos", files_path %></li>
              <li class="breadcrumb-item active" aria-current="page">Detalles de archivo</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-7 col-xl-8 mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center text-center">
                  <% if  @asset.uploaded_file.variable? %>
                    <%= image_tag @asset.uploaded_file.variant(resize: "250x250"), class: "img-thumbnail" %>
                  <% elsif @asset.uploaded_file.previewable? %>
                    <%= image_tag @asset.uploaded_file.preview(resize: "250x250"), class: "img-thumbnail" %>
                  <% else %>
                    <div>
                      <span>No hay vista previa para este archivo.</span>
                    </div>
                  <% end %>
                </div>
                <div class="col">
                  <%= render 'asset_details', asset: @asset %>
                </div>
              </div>
            </div>
          </div>
          <%= render 'back_link' %>
        </div>
      </div>
      <br>
    </div>
    <br>
    <%= render 'shared/panel_footer' %>

  </div>

</div>

