<% provide(:title, "Usuario") %>

<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item"><%= link_to "Usuarios", admin_users_path %></li>
              <li class="breadcrumb-item active" aria-current="page"><%= @user.full_name %></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-lg-6 col-xl-7 mx-auto">
          <div class="card">
            <div class="card-header">Tipo de cuenta</div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h6>Plan</h6>
                  <div>
                    <%= @user.current_subscription.name %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Estado</h6>
                  <p><span class="badge badge-success"><%= t(".text.status.#{@user.current_subscription.status}") %></span></p>
                  <% unless @user.current_subscription.free? %>
                    <p>Su suscripción finalizará el <%= l @user.current_subscription.end_date, format: :shor %>.</p>
                  <% end %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Espacio de almacenamiento</h6>
                  <span class="float-left"><%= number_to_percentage(@user.percentage_used_storage_space, precision: 0) %></span>
                  <p class="text-right font-weight-light">
                    <span class="font-weight-bold">
                      <%= @user.used_storage_space %> Bytes
                    </span>
                    de <%= @user.total_storage_space %> Bytes en uso
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%=current_user.percentage_used_storage_space%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Renovación</h6>
                  <% if @user.current_subscription.free? %>
                    <p>Sin ciclo de facturación</p>
                  <% else %>
                    <% if @user.current_subscription.plan.month? %>
                      <p>Mensual</p>
                    <% else %>
                      <p>Anual</p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <hr>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5 col-lg-6 col-xl-7 mx-auto">
          <div class="card">
            <div class="card-header">Estadísticas del usuario</div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h6>Archivos subidos</h6>
                  <div>
                    <%= @user.uploaded_files_count %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Archivos descargados</h6>
                  <div>
                    <%= @user.downloaded_files_count %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Archivos compartidos</h6>
                  <div>
                    <%= @user.shared_files_count %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Archivos</h6>
                  <div>
                    <%= @user.files_count %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Carpetas</h6>
                  <div>
                    <%= @user.folders_count %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Espacio de almacenamiento usado</h6>
                  <div>
                    <%= number_to_human_size(@user.used_storage_space) %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Espacio de almacenamiento disponible</h6>
                  <div>
                    <%= number_to_human_size(@user.available_storage_space) %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Espacio de almacenamiento total</h6>
                  <div>
                    <%= number_to_human_size(@user.total_storage_space) %>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="card-footer"></div>
          </div>
          <%= link_to :back, class: "btn btn-light mt-2" do %>
            <i class="fas fa-arrow-left"></i> Atrás
          <% end %>
        </div>
      </div>

    </div>

    <%= render 'shared/panel_footer' %>

  </div>

</div>
