<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"><%= free_plan.name %></h4>
  </div>
  <div class="card-body">
    <%= image_tag("#{free_plan.name.downcase}.png", alt: "#{free_plan.name}_icon") %>
    <h1 class="card-title pricing-card-title">
      0 &euro;<small class="text-muted"></small>
    </h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li><%= free_plan.space_allowed %> GB <%= t('.text.of_storage') %></li>
      <li>...</li>
      <li>...</li>
      <li>...</li>
    </ul>
    <% if user_signed_in? %>
      <% if current_user.current_subscription.free? %>
        <%= link_to t('.buttons.current_plan'), "#", class: "btn btn-lg btn-block btn-outline-primary disabled" %>
      <% end %>
    <% else %>
      <%= link_to t('.buttons.signup'), new_user_registration_path, class: "btn btn-lg btn-block btn-outline-primary" %>
    <% end %>
  </div>
</div>
