<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"><%= monthly_paid_plan.name %></h4>
  </div>
  <div class="card-body">
    <%= image_tag(monthly_paid_plan.name.downcase, alt: "#{monthly_paid_plan.name}_icon") %>
    <h1 class="card-title pricing-card-title">
      <%= humanized_money(monthly_paid_plan.price) %> &euro;<small class="text-muted">/ <%= t('pages.pricing.month') %></small>
    </h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li><%= monthly_paid_plan.space_allowed %> GB <%= t('pages.pricing.of_storage') %></li>
      <li>...</li>
      <li>...</li>
      <li>...</li>
    </ul>
    <% if current_page?(action: 'index') %>
      <% if user_signed_in? %>
        <%= link_to t('pages.pricing.buttons.subscribe'), plan_path(monthly_paid_plan.id), class: "btn btn-lg btn-block btn-outline-primary" %>
      <% else %>
        <%= link_to t('pages.pricing.buttons.subscribe'), new_user_session_path, class: "btn btn-lg btn-block btn-outline-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
