<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item active" aria-current="page">Panel de control</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <%= render "stat", locals: { statistic: current_user.uploaded_files_count, title: "Archivos subidos" } %>
        <%= render "stat", locals: { statistic: current_user.downloaded_files_count, title: "Archivos descargados" } %>
        <%= render "stat", locals: { statistic: current_user.files_count, title: "Archivos" } %>
        <%= render "stat", locals: { statistic: current_user.shared_files_count, title: "Archivos compartidos" } %>
      </div>
      <br>
      <div class="row">
        <%= render "stat", locals: { statistic: current_user.folders_count, title: "Carpetas" } %>
        <%= render "stat", locals: { statistic: number_to_human_size(current_user.used_storage_space), title: "Espacio de almacenamiento usado" } %>
        <%= render "stat", locals: { statistic: number_to_human_size(current_user.available_storage_space), title: "Espacio de almacenamiento disponible" } %>
        <%= render "stat", locals: { statistic: number_to_human_size(current_user.total_storage_space), title: "Espacio de almacenamiento total" } %>
      </div>
      <br>
    </div>
    <%= render 'shared/panel_footer' %>
  </div>

</div>



