<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 ml-auto mr-auto">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= t('.titles.account_type') %></h5>
              <hr>
              <div class="row">
                <div class="col">
                  <h6>Plan</h6>
                  <div>
                    <span><%= @subscription.plan.name %></span>
                    <% unless @subscription.free? %>
                      <span><%= link_to t('.buttons.cancel_subscription'), subscription_path(@subscription), class: "btn btn-danger float-right" , method: :delete, data: {confirm: t('.messages.confirm_cancel')} %></span>
                      <span><%= link_to t('.buttons.change_subscription'), edit_subscription_path(@subscription.plan.id) , class: "btn btn-warning float-right mr-2" %></span>
                    <% end %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6><%= t('.titles.status') %></h6>
                  <p><span class="badge badge-success"><%= t(".text.status.#{@subscription.status}") %></span></p>
                  <% unless @subscription.free? %>
                    <p><%= t('.text.end_date_subscription') %> <%= l @subscription.end_date, format: :default %></p>
                  <% end %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6><%= t('.titles.storage_space') %></h6>
                  <span class="float-left"><%= number_to_percentage(current_user.percentage_used_storage_space, precision: 0) %></span>
                  <p class="text-right font-weight-light">
                    <span class="font-weight-bold">
                      <%= current_user.used_storage_space %> Bytes
                    </span>
                    <%= t('.text.of') %> <%= current_user.total_storage_space %> Bytes <%= t('.text.in_use') %>
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%=current_user.percentage_used_storage_space%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h6><%= t('.titles.renewal') %></h6>
                  <% if @subscription.free? %>
                    <p><%= t('.text.no_billing_cycle') %></p>
                  <% else %>
                    <% if @subscription.plan.month? %>
                      <p><%= t('.text.billing_cycle.monthly') %></p>
                    <% else %>
                      <p><%= t('.text.billing_cycle.yearly') %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <br>
    <%= render 'shared/panel_footer' %>

  </div>

</div>
