<% provide(:title, "Compartiendo conmigo") %>

<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item active" aria-current="page">Compartiendo conmigo</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table files">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Fecha de subida</th>
                      <th scope="col">Tamaño</th>
                      <th scope="col">Dueño</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @being_shared_assets.each do |being_shared_asset| %>
                      <tr>
                        <th scope="row" class="align-middle"> <%= image_tag(file_icon(being_shared_asset.asset.uploaded_file.filename.extension), size: '40x40') %> </th>
                        <td class="align-middle"><%= link_to being_shared_asset.asset.uploaded_file.filename, shared_asset_url(being_shared_asset.shared_asset_token, email: being_shared_asset.shared_email) %></td>
                        <td class="align-middle"><%= l being_shared_asset.asset.uploaded_file.created_at.to_datetime, format: :short %></td>
                        <td class="align-middle"><%= number_to_human_size(being_shared_asset.asset.uploaded_file.byte_size) %></td>
                        <td class="align-middle"><span class="mr-3"><%= image_tag(being_shared_asset.user.avatar.url, size: '40x40') %></span><%= being_shared_asset.user.full_name %></td>
                        <td class="align-middle"></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>

    </div>

    <%= render 'shared/panel_footer' %>

  </div>

</div>
