<% provide(:title, "Compartiendo conmigo") %>

<div id="wrapper">

  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <%= link_to dashboard_path, class: "nav-link" do %>
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Panel de control</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to files_path, class: "nav-link" do %>
        <i class="fas fa-fw fa-folder-open"></i>
        <span>Mis archivos</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to share_files_path, class: "nav-link active" do %>
        <i class="fas fa-fw fa-share-alt"></i>
        <span>Compartiendo conmigo</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to plan_path, class: "nav-link" do %>
        <i class="fas fa-fw fa-calendar"></i>
        <span>Mi plan</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to payments_path, class: "nav-link" do %>
        <i class="fas fa-fw fa-file-invoice"></i>
        <span>Historial de pagos</span>
      <% end %>
    </li>
    <% if current_user.admin? %>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
          <i class="fas fa-fw fa-chart-bar"></i>
          <span>Estadísticas del servicio</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_users_path, class: "nav-link" do %>
          <i class="fas fa-fw fa-users"></i>
          <span>Usuarios</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_payments_path, class: "nav-link" do %>
          <i class="fas fa-fw fa-file-invoice"></i>
          <span>Historial de pagos del servicio</span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div id="content-wrapper">

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item active" aria-current="page">Compartiendo conmigo</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table files">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Fecha de subida</th>
                      <th scope="col">Tamaño</th>
                      <th scope="col">Dueño</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @being_shared_assets.each do |being_shared_asset| %>
                      <tr>
                        <th scope="row" class="align-middle"> <%= image_tag(file_icon(being_shared_asset.asset.uploaded_file.filename.extension), size: '40x40') %> </th>
                        <td class="align-middle"><%= link_to being_shared_asset.asset.uploaded_file.filename, shared_asset_url(being_shared_asset.shared_asset_token) %></td>
                        <td class="align-middle"><%= l being_shared_asset.asset.uploaded_file.created_at.to_datetime, format: :short %></td>
                        <td class="align-middle"><%= number_to_human_size(being_shared_asset.asset.uploaded_file.byte_size) %></td>
                        <td class="align-middle"><span class="mr-3"><%= image_tag(being_shared_asset.user.avatar.url, size: '40x40') %></span><%= being_shared_asset.user.full_name %></td>
                        <td class="align-middle"></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>

    </div>

    <%= render 'shared/panel_footer' %>

  </div>

</div>
