<header>
	<nav class="navbar navbar-expand navbar-dark bg-custom static-top">
		<%= link_to image_tag("logo.png", alt: "logo", height: '42'), root_path, class: "navbar-brand mr-1" %>
		<ul class="navbar-nav navbar-right ml-auto align-items-center">
      <li class="nav-item">
      	<%= link_to "Inicio", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Precios", plans_path, class: "nav-link" %>
      </li>
			<% if user_signed_in? %>
        <%= render "layouts/user_dropdown" %>
			<% else %>
			<li class="nav-item">
				<%= link_to "Inicio de sesión", new_user_session_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to "Registrarse", new_user_registration_path, class: "btn btn-outline-light" %>
			</li>
			<% end %>
		</ul>
	</nav>
</header>
