<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>

    <%= render 'layouts/header' %>
    
    <% if notice %>
      <div class="alert alert-success mb-0"><%= notice %></div>
    <% end %>    
    <% if alert %>
      <div class="alert alert-danger mb-0"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
