<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body id="page-top">

    <%= render 'layouts/alert' %>

    <%= render "layouts/header" %>

    <div class="body">
        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
